/* Soluzione Es. 1 */

.ex-1-square {
    background: white;
    transition: background 0.5s;
}

.ex-1-square:hover {
    background: red;
}

/* Soluzione Es. 2 */

.ex-2-square {
    width: 100px;
    transition: width 0.5s;
}

.ex-2-square:active {
    width: 700px;
}

/* Soluzione Es. 3 */

.ex-3-square {
    border-radius: 0;
    transition: border-radius 0.5s;
}

.ex-3-square:hover {
    border-radius: 50px;
}

/* Soluzione Es. 4 */

.ex-4-square {
    background: red;
    transition: background 0.5s;
}

.ex-4-square:hover {
    background: none;
}

/* Soluzione Es. 5 */

.ex-5-square {
    width: 60px;
    height: 60px;
    transition: all 0.5s;
}

.ex-5-square:hover {
    width: 90px;
    height: 90px;
}

.ex-5-square:active {
    width: 30px;
    height: 30px;
}

/* Soluzione Es. 6 */

#ex-6:hover {
    filter: grayscale(1);
}

/* Soluzione Es. 7 */

#ex-7 {
    transition: 0.7s;
}

#ex-7:hover {
    filter: sepia(1) drop-shadow(8px 8px 10px gray);
}

/* Soluzione Es. 8 */

#ex-8:hover {
    transition: 0.5s;
}

#ex-8:hover {
    filter: saturate(2) blur(1px);
    border-radius: 7px;
}

/* Soluzione Es. 9 */

#ex-9:hover {
    transition: 0.5s;
}

#ex-9:hover {
    filter: blur(1px) grayscale(1);
    border-radius: 7px;
    transform: scale(1.3);
}

/* Soluzione Es. 10 */

.ex-10-icon {
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: 8;
}

@keyframes loading {
    0% {transform:rotate(0deg);}
    10% {transform:rotate(36deg);}
    20% {transform:rotate(72deg);}
    30% {transform:rotate(108deg);}
    40% {transform:rotate(144deg);}
    50% {transform:rotate(180deg);}
    60% {transform:rotate(216deg);}
    70% {transform:rotate(252deg);}
    80% {transform:rotate(288deg);}
    90% {transform:rotate(324deg);}
    100% {transform:rotate(360deg);}
}

/* Soluzione Es. 11 */

.ex-11-icon:hover {
    animation: load;
    animation-duration: 2s;
}

@keyframes load {
    0% {transform: rotate(0);}
    90% {transform: rotate(315deg);}
    100% {transform: rotate(0);}
}

/* Soluzione Es. 12-13: O.O! mi arrendo, non copio/incollo, ma sbircio per provare quantomeno a capirle*/
